<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Search Results</title>

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>

	<link rel="stylesheet" href="/static/bootstrap-v4/css/newtab.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/bootstrap/bootstrap.min.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/elusive-icons/elusive-icons.min.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/common.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/list.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/general.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/plugins/animate.min.css?version=v1.6.3" type="text/css" />
	<link rel="stylesheet" href="/static/bootstrap-v4/css/main.css?version=v1.6.3" type="text/css" />

	<meta name="description" content="" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
<style>
    @media (min-width: 576px) {
        .container .scroll-if-required {
            max-width: 540px;
            width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container .scroll-if-required {
            max-width: 720px;
            width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container .scroll-if-required {
            max-width: 968px;
            width: 968px;
        }
    }

    @media (min-width: 1200px) {
        .container .scroll-if-required {
            width: 1168px;
            max-width: 1168px;
        }
    }
</style>
<br/>
<div class="container-fluid gc-container">

<div class="row">
	<div class="table-section">
		<div class="table-label">
			<div class="floatL l5"><h1>Search Results</h1></div>
			<div class="clear"></div>
		</div>
		<div class="table-container">
			<form action="" method="post" autocomplete="off" id="gcrud-search-form">
				<div class="header-tools">
					<div class="floatL t5">
						<a href="{{url_for('add')}}" class="btn btn-default btn-outline-dark">
							<i class="el el-plus"></i> &nbsp; Add Record
						</a>
						<a href="{{url_for('browse')}}" title="Browse All Records" class="btn btn-default btn-outline-dark"
							id="form-button-browse">
							<i class="el el-ok"></i>
							Browse All Records
						</a>
						<a href="{{url_for('index')}}" button class="btn btn-default btn-outline-dark" type="submit"
							id="save-and-go-back-button"><i class="el el-return-key"></i> Go back to Home</button></a>
					</div>
					<div class="clear"></div>
				</div>


				<div class="scroll-if-required">
					<table class="table table-bordered grocery-crud-table table-hover">
						<thead>
							<tr>
								<th>Edit Record</th>
								<th class="column-with-ordering" data-order-by="InvoiceNumber">Invoice Number</th>
								<th class="column-with-ordering" data-order-by="Institution">Institution</th>
								<th class="column-with-ordering" data-order-by="AdminKey">Instructor Key</th>
								<th class="column-with-ordering" data-order-by="Instructor">Instructor</th>
								<th class="column-with-ordering" data-order-by="AdminCount">Count</th>
								<th class="column-with-ordering" data-order-by="InvoiceDate">Invoice Date</th>
							</tr>
						</thead>
						<tbody>

							{% for user in users.items %}
							
							<tr>
								<td>
									<div class="only-desktops" style="white-space: nowrap">
										<a class="btn btn-default btn-outline-dark" href="{{ url_for('edit', id=user.id) }}">
											<i class="el el-pencil"></i> Edit</a>
									</div>
								</td>
								<td>{{ user.InvoiceNumber }}</td>
								<td>{{ user.Institution }}</td>
								<td>{{ user.AdminKey }}</td>
								<td>{{ user.Instructor }}</td>
								<td>{{ user.Count }}</td>
								<td>{{ user.InvoiceDate }}</td>
							</tr>
							
							{% endfor %}
						
						</tbody>
					</table>
				</div>
	   
	   
	   
				<!-- Table Footer -->
				<div class="footer-tools">

					<!-- "Show 10/25/50/100 entries" (dropdown per-page) -->
					<!-- <div class="floatL t20 l5">
						<div class="floatL t8">Show</div>
						<div class="floatL r5 l5">
							<select name="per_page" class="per_page form-control">
								<option value="10" selected="selected">10&nbsp;&nbsp;</option>
								<option value="25">25&nbsp;&nbsp;</option>
								<option value="50">50&nbsp;&nbsp;</option>
								<option value="100">100&nbsp;&nbsp;</option>
							</select>
						</div>
						<div class="floatL t8">entries</div>
						<div class="clear"></div>
					</div> -->
					<!-- End of "Show 10/25/50/100 entries" (dropdown per-page) -->


					<div class="floatR r5 gc-pagination-container">

						<!-- Buttons - First,Previous,Next,Last Page -->
						
						<ul class="pagination">
							{% if users.page == 1 %}
							<li class="disabled paging-first page-item">
								<a href="" class="page-link">
									<i class="el el-step-backward"></i>
								</a>
							</li>
							{% else %}
							<li class="paging-first page-item">
								<a href="/searchResults/1" class="page-link">
									<i class="el el-step-backward"></i>
								</a>
							</li>
							{% endif %}
							{% if users.has_prev %}
							<li class="prev paging-previous page-item">
								<a href="{{url_for('searchResults',page=users.prev_num)}}" class="page-link">
									<i class="el el-chevron-left"></i>
								</a>
							</li>
							{% else %}
							<li class="prev disabled paging-previous page-item">
								<a href="" class="page-link">
									<i class="el el-chevron-left"></i>
								</a>
							</li>
							{% endif %}
							<li class="page-item">
								<span class="page-number-input-container page-link">
									<form action="/browse/{{users.page}}" method="POST">
										<input name="page_number" type="number" value="{{users.page}}" class="form-control page-number-input" />
									</form>
								</span>
							</li>
							{% if users.has_next %}
							<li class="next paging-next page-item">
								<a href="{{url_for('searchResults',page=users.next_num)}}" class="page-link">
									<i class="el el-chevron-right"></i>
								</a>
							</li>
							{% else %}
							<li class="disabled next paging-next page-item">
								<a href="" class="page-link">
									<i class="el el-chevron-right"></i>
								</a>
							</li>
							{% endif %}
							{% if users.page==users.pages %}
							<li class="disabled paging-last page-item">
								<a href="" class="page-link">
									<i class="el el-step-forward"></i>
								</a>
							</li>
							{% else %}
							<li class="paging-last page-item">
								<a href="/searchResults/{{users.pages}}" class="page-link">
									<i class="el el-step-forward"></i>
								</a>
							</li>
							{% endif %}
						</ul>
						<!-- End of Buttons - First,Previous,Next,Last Page -->

						<input type="hidden" name="page_number" class="page-number-hidden" value="1" />
					</div>

					<!-- "Displaying 1 to 10 of X items" -->
					<div class="floatR r10 displaying-paging-items">
						Displaying <span class="paging-starts">{{1 + (users.page-1)*10}}</span> to <span class="paging-ends">{{[10 +
							(users.page-1)*10,users.total]|min}}</span>
						of <span class="current-total-results">{{users.total}}</span> items <span class="full-total-container hidden">
							(filtered from <span class='full-total'>123</span> total entries)</span>
					</div>
					<!-- End of "Displaying 1 to 10 of X items" -->

					<div class="clear"></div>
			   </div>
			   <!-- End of: Table Footer -->

			</form>
		</div>
	</div>

</div>
</div>
        
<script src="/static/js/jquery-2.2.4.min.js?version=v1.6.3"></script>
<script src="/static/js/datagrid-v1.5.3.c20c951.min.js?version=v1.6.3"></script>
</body>
</html>